section {
background-image: url('../../../assets/img/starwars-background-web.webp');
padding: 0;
margin: 0;
text-align: center;
}

ul {
  max-width: 800px;
  margin: 0 auto;
  background-image: url;
}

.card {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--semiblanc);
  cursor: pointer;
  border: 2px solid black;
  text-align: left;

  p {
    margin-bottom: 0;
  }
}

.card:hover {
  h3 {
    color: var(--starwars);
  }
  border-color: var(--starwars);
}

.btn {
  margin: 40px auto;
  padding: .7em;
  width: 20%;
  border-radius: 100px;
  color: black;
  border: 2px solid var(--starwars);
}

a {
  color: inherit;
  text-decoration: none;
}
