<section>
  <article class="row">
    <h4>STARSHIP</h4>
    <div class="nave">
      <div class="col-6">
        <img class="img-fluid" [src]="starship.imageURL" alt="Imagen de la nave {{starship.name }}">
      </div>
      <div class="col-6 contenido">
        <h3>{{starship.name }}</h3>
        <p>Cada nave tiene unas características tecnológicas únicas que reflejan su facción y era.</p>
        <ul class="grid grid-cols-1 laptop:grid-cols-2 gap-2">
          <li>Modelo: <span>{{starship.model }}</span></li>
          <li>Coste en créditos: <span>{{ starship.cost_in_credits }}</span></li>
          <li>Velocidad atmosférica: <span>{{ starship.max_atmosphering_speed }}</span></li>
          <li>Fabricante: <span>{{ starship.manufacturer }}</span></li>
          <li>Longitud: <span>{{ starship.length }}</span></li>
          <li>Tripulación: <span>{{ starship.crew }}</span></li>
        </ul>
      </div>

    </div>
  </article>
</section>

      @defer (when pilotsLoaded){
        @if (pilots.length > 0) {
          <app-pilots [pilotsURLs]="pilots"></app-pilots>
        }
      } @placeholder {
        <span>Loading pilots...</span>
      }

      @defer (when filmsLoaded){
        @if (films.length > 0) {
          <app-films [filmsURLs]="films"></app-films>
        }
      } @placeholder {
        <span>Loading films...</span>
      }
  <section class="fin">
      <br>
      <button type="button" class="btn btn-prinary" >
        <a [routerLink]="['/starships']" routerLinkActive="router-link-active">Volver al listado</a>
      </button>
  </section>
