<section>
  <article class="row">
    <h4>STARSHIP</h4>
    <div class="nave">
      <div class="col-6">
        <img class="img-fluid" [src]="starship.imageURL" alt="Starship photo">
      </div>
      <div class="col-6 contenido">
        <h3>{{starship.name }}</h3>
        <p>Cada nave tiene unas características tecnológicas únicas que reflejan su facción y era.</p>
        <ul class="grid grid-cols-1 laptop:grid-cols-2 gap-2">
          <li>Modelo: <span>{{starship.model }}</span></li>
          <li>Coste en créditos: <span>{{ starship.cost_in_credits }}</span></li>
          <li>Velocidad atmosférica: <span>{{ starship.max_atmosphering_speed }}</span></li>
          <li>Fabricante: <span>{{ starship.manufacturer }}</span></li>
          <li>Longitud: <span>{{ starship.length }}</span></li>
          <li>Tripulación: <span>{{ starship.crew }}</span></li>
        </ul>
      </div>
    </div>
    <button type="button" class="uppercase w-fit mt-4" id="starships-button">
      <a [routerLink]="['/starships']" routerLinkActive="router-link-active">Volver al listado</a>
    </button>
  </article>
</section>

<!-- posteriormente cargaremos los componentes para films y pilotos -->
