<header class="row">

  <div class="col-2" id="social">
    Social media
  </div>

  <div class="col-8" id="logo">
    <a [routerLink]='["/home"]'><img src="../../../assets/img/Star_Wars_Logo.svg" alt="Star Wars Logo" class="logo-starwars"/></a>
  </div>

  <div class="col-2">
    <button class="btn login-button" type="button" [routerLink]='["/account/login"]' (click)="toggleLogin()">
      <span>
        {{ user ? 'LOG OUT' : 'LOG IN' }}
      </span>
      <i class="fa-solid fa-user mx-2"></i>
      <i [ngClass]="{'bi bi-person-fill-down': user, 'bi bi-person-up': !user}"></i>
    </button>
  </div>

  <!--intentar con css el cambio de icono-->

</header>

<div class="row" id="user_auth">
  @if (user) {
    <p>
      ¡Que la Fuerza te acompañe, joven <span class="destaca">{{ getUserName() | uppercase }}</span>!
    </p>
  }
</div>

