
<section class="row">

  <p>Desde los inicios de la saga galáctica de Star Wars, las naves estelares han desempeñado un papel crucial en la narrativa, transportando a personajes icónicos a través de vastos sistemas estelares y participando en batallas épicas que han definido el destino de la galaxia. Te invitamos a descubrir sus principales características.</p>
  <button type="button" class="btn btn-primary w-fit mt-4" id="starships-button">
    <a [routerLink]="['/starships']">Descubre las naves estelares</a>
  </button>

  <img class="img-fluid" src="../../../assets/img/madalorian_h.webp" alt="">

</section>


