<div class="container col-md-6 offset-md-3 mt-5">
  @if (error) {
    <div class="alert alert-danger">{{error}}</div>
  }
  @if (success) {
    <div class="alert alert-success">{{success}}</div>
  }
  <div class="card rounded-5">
    <div class="mx-4">
      <h3 class="mx-4 mt-5 mb-3">Introduzca su email y contraseña</h3>
      <p class="mx-4 mb-4">Log into your Star Wars account. If you don't have one, you will be prompted to create one.</p>
    </div>
    <div class="card-body mx-4">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-center">
        <div class="mb-3">
          <input type="email" formControlName="email" class="form-control py-3 bg-body-secondary border-0" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          @if (submitted && f.email.errors) {
            <div class="invalid-feedback">
              @if (f.email.errors.required) {
                <div>Email is required</div>
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <input type="password" formControlName="password" class="form-control py-3 bg-body-secondary border-0" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          @if (submitted && f.password.errors) {
            <div class="invalid-feedback">
              @if (f.password.errors.required) {
                <div>Password is required</div>
              }
              @if (submitted && f.email.errors && f.email.errors.pattern) {
                <div>Invalid email format</div>
              }
            </div>
          }
        </div>
        <div>
          <button [disabled]="loading" class="btn btn-lg btn-warning rounded-pill form-control mt-4">
            @if (loading) {
              <span class="spinner-border spinner-border-sm"></span>
            }
            Login
          </button>
          <a routerLink="../register" class="btn btn-link mt-3 mb-4">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>

