
// scss-docs-start theme-color-variables
$primary:       #ffe91f;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  // "secondary":  $secondary,
  // "success":    $success,
  // "info":       $info,
  // "warning":    $warning,
  // "danger":     $danger,
  // "light":      $light,
  // "dark":       $dark
);



:root{
  --semiblanc: #ffffff9d;
  --starwars:  #ffe91f;
  --bs-link-hover-color-rgb: $primary;
}



$font-family-sans-serif: 'Barlow', sans-serif;


// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

* {
 font-family: 'Barlow', sans-serif;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

html, body { height: 100%; }

h3 {
  font-family: "Anta", sans-serif;
}

body {
  background-color: black;
 }

 .destaca {
  color: $primary;
 }

 .btn:hover {
  background-color: rgba(176, 176, 176, 0.967);
  border: 2px solid var(--starwars);
  font-weight: bold;
}

